body {
  background-image: url("3.jpg");
  background-size: cover;
  color: #FFFFF0;
}

.container {  
  max-width: 1350px;  
  width: 75%;  
  margin: 40px;  
  margin-left: 300px;
  height: auto;  
  display: block; 
  text-align: left;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
} 

.heading {
	text-align: center;
	padding: 10px;
	margin: 10px;
}

.submit {
	margin-left: 25;
	text-align: center;
}

